@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
#nav{
    background-color: black;
}
#textje{
    font-family: 'Raleway', sans-serif;
color: white;
text-shadow: 6px 6px 8px #000000;
text-align: center;
-webkit-text-stroke: 1px whitesmoke;
}